.crear {
  text-align: center;
  h1 {
    color: white;
    text-transform: uppercase;
  }
  &--form {
    &--input {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      label {
        color: white;
        margin-bottom: 5px;
        text-align: left;
      }
      input {
        background-color: black;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
      }
    }
    &--ingredientes {
      h2 {
        color: white;
      }
    }
    &--button {
      background-color: #61ff0d;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      &--eliminar {
        margin: 5px;
        background-color: #6b1a1a;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}
