.home {
  
  h1 {
    color: white;
  }
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &--content {
    h2 {
      color: white;
    }
  
  }
}
